<!DOCTYPE html>
<html>
  <head>
    <title>All Sales Vinyl</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
<h1> Please input three numbers and we'll tell you what kind of triangle it is?</h1>
<div class = "container">
<form action= "/output" method="post" id="side-form">
  <div class="form-group">
    <label for="side1">Side 1:</label>
    <input type="number" name="side1"/>
  </div>
  <div action= "/output" class="form-group">
    <label for="side2">Side 2:</label>
    <input type="number" name="side2"/>
  </div>
  <div class="form-group">
    <label for="side3">Side 3:</label>
    <input action= "/output" type="number" name="side3"/>
  </div>
  <button type="submit">Compute</button>
</form> 
</div>
</body>
</html>